<div class = "sort-form">
    <%= form_with model: @question, url: search_path, method: :get, local: true do |form| %>
      <%= form.select :keyword, [ ['New Update', 'created_at'],
                                ['New Question', 'updated_at'],
                                ['Most Popularity', 'popularity'],
                              ] %>
      <%= form.submit 'Sort', class:"sort-btn"%>
    <% end %>
</div>