<div class="question-index-wrapper">

  <div class = "question-list ls"> 
      <div class = "text-center">
          <h1 class = "d-flex align-items-center">Shitsumon list</h1>
          <%=link_to 'new question', new_question_path, class:'btn btn-success btn-lg' %>
      </div>
  </div>

  <%= render 'questions/list'%>

</div>