<div class="question-index-wrapper">
  <div class = "question-list ls">
    <div class = "text-center">
      <div class = "qestion-index">
        <h1>Let's ask about Japan and raise your japan score.</h1>
        <% if logged_in? %>
          <%=link_to 'new question', new_question_path, class:'btn btn-question' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "container text-center">
    <h1> Shitsumon list </h1>
    <span class="flag-icon flag-icon-jp faa-tada animated "></span>
    <%= render 'questions/select_form'%>
    <%= render 'questions/list'%>
  </div>
  <div class='paginate'><%= paginate(@questions) %></div>
</div>
