<div class="topic-index-wrapper">

  <div class = "question-list ls"> 
      <div class = "text-center">
          <h1 class = "d-flex align-items-center">Shitsumon list</h1>
          <%=link_to 'new question', new_question_path, class:'btn btn-success btn-lg' %>
      </div>
  </div>


  <div class="container">
    <% @questions.each do |question| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="question-index-single">
            <h2 class="question-title">
            <%= link_to question.name,question_path(question) %>
            </h2>
            <%= image_tag question.image.url %>
            <p class="question-text">
              <%= question.description %>
            </p>
    
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>