<div class="signup-wrapper">
  <div class="container text-center">
    <div class="signup-form ">
      <h2>Sign up</h2>
      <%= link_to '/signup/registration',class: 'signup-btn btn-block btn-lg btn btn-warning' do %>
        <i class="fa fa-envelope"></i>  Sign up with E-mail
      <% end %>
      <%= link_to auth_at_provider_path(provider: :twitter), class:'signup-btn btn-block btn-lg btn btn-info' do %>
        <i class="fab fa-twitter"></i>  Sign up with Twitter
      <% end %>
      <%= link_to auth_at_provider_path(provider: :facebook), class:'signup-btn btn-block btn-lg btn btn-primary' do %>
        <i class="fab fa-facebook"></i> Sign up with Facebook
      <% end %>
      <p>  Login is here </p>
      <%= link_to 'Login',login_path,class:'login-btn btn-block btn-lg btn' %>
    </div>
  </div>
</div>
