<div class="signup-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 signup-container text-center">
        <h1 class="text-center">Sign up</h1>
        <%= link_to '/signup/registration',class: 'signup-btn btn-block btn-lg btn btn-warning' do %> 
          <i class="fa fa-envelope"></i>  Sign up with E-mail
        <% end %>
        <%= link_to auth_at_provider_path(provider: :twitter), class:'signup-btn btn-block btn-lg btn btn-info' do %>
          <i class="fab fa-twitter"></i>  Sign up with Twitter
        <% end %>
        <%= link_to auth_at_provider_path(provider: :slack), class:'signup-btn btn-block btn-lg btn btn-danger' do %>
          <i class="fab fa-slack"></i> Sign up with Slack
        <% end %>
        <p>  Login is here <p>
        <%= link_to 'Login',login_path,class:'login-btn btn-block btn-lg btn' %> 
      </div>
    </div>
  </div>
</div>






