<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shitsumonwa?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section" >
    <div class="container">
      <h1 class="has-text-white has-text-centered "> ShitsumonWa?</h1>
      <h2 class="has-text-white has-text-centered is-italic">Let's solve questions about Japanese.</h2>
      <div class="columns has-text-centered">
        <div class="column">
        </div>
        <div class="column">
          <%= link_to 'Sign up', '#',class: 'button is-large is-danger is-outlined has-text-white' %>
        </div>
        <div class="column">
          <%= link_to ' Log in', '#',class: 'button is-large is-primary is-outlined has-text-white' %>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
    </div>
  </section>
  </body>
</html>