<div class="top-hero-wrapper has-text-centered">
  <div class="container has-text-centered">
    <h1 class="has-text-centered">Make you Happy</h1>
    <h2 class="has-text-centered">Pictgram is a service that you can post photos.</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign up', '#', class: 'button is-warinig is-large' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log in', '#',class: 'button is-primary  is-large' %>
      </div>
    </div>
  </div>
</div>