<div class="top-video-wrapper text-center">
  <div class= "video-container">
    <%= video_tag("/videos/top-video.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    <div class="video-message">
      <h1 class="text-white top-text">ShitsumonWa?</h1>
      <h2 class="text-white">Let's solve questions about Japan.</h2>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <%= link_to 'Sign up', signup_path, class: 'btn btn-block btn-success btn-lg' %>
        </div>
        <div class="col-md-offset-2 col-md-8">
          <%= link_to 'Log in', login_path , class: 'btn btn-block btn-success btn-lg' %>
        </div>
      </div>
    <div>
  </div>
</div>

<div class="top-content-wrapper text-center">
  <div class="top-content-about animated fadein fadeInUp">
    ShitsumonnWa? is a bulletin board service where foreigners interested in Japan can ask questions.
  </div>

  <div class="about_title animated fadein fadeInUp">
    <span style="border-bottom: solid 1px #00F;">Let's make it your second home country</span>
  </div>

  <div class="cintent1">

    <div class="container animated fadein fadeInUp">  
      <div class="row"> 
        <div class="col-sm-6 box1 attraction_text">
          <p class="attraction_text1">旅先で、近くにいる人や気になった人と合流できる</p>
            <p class="attraction_text2">
              旅先での出会いは特別なもの。現地の人との交流はもちろん、
              現地でばったり会う日本人もかけがいのない出会いの機会です。
            </p>
        </div>
        <div class="col-sm-6 box2">
          <img src="/assets/Frend-fee9c76ecc8e50ec4fd904d6c70d0d95b49314d5664f270afc1f6fccf43f93fc.jpg" alt="旅先での出会い">
        </div>
      </div>
    </div>
  
    <div class="container animated fadein fadeInUp">  
      <div class="row">
        <div class="col-sm-6">
          <img src="/assets/connection-a75acb5b3f28b29680ec118704bfb081089a0f49404683e7d2a88c6feb45c3b4.jpg" alt="人との繋がり">
        </div>
        <div class="col-sm-6 attraction_text">
          <p class="attraction_text1">旅人どうしで情報を交換し、互いの旅をより快適に</p>
            <p class="attraction_text2">
              「あそこのお店が美味しかった」「穴場見つけたよ」「オススメの観光コースを発見しました」など
              自分の知らなかった旅先の魅力や、奥深さを互いに共有できます。
          </p>
        </div>
      </div>
    </div>
  
    
   
  <div class="cintent2">
    <div class="container animated fadein fadeInUp">  
      <div class="row"> 
        <div class="col-sm-6 box1 attraction_text">
          <p class="attraction_text1">旅先で、近くにいる人や気になった人と合流できる</p>
            <p class="attraction_text2">
              旅先での出会いは特別なもの。現地の人との交流はもちろん、
              現地でばったり会う日本人もかけがいのない出会いの機会です。
            </p>
        </div>
        <div class="col-sm-6 box2">
          <img src="/assets/Frend-fee9c76ecc8e50ec4fd904d6c70d0d95b49314d5664f270afc1f6fccf43f93fc.jpg" alt="旅先での出会い">
        </div>
      </div>
    </div>

    <div class="container animated fadein fadeInUp">  
      <div class="row"> 
        <div class="col-sm-6 box1 attraction_text">
          <p class="attraction_text1">旅先で、近くにいる人や気になった人と合流できる</p>
            <p class="attraction_text2">
              旅先での出会いは特別なもの。現地の人との交流はもちろん、
              現地でばったり会う日本人もかけがいのない出会いの機会です。
            </p>
        </div>
        <div class="col-sm-6 box2">
          <img src="/assets/Frend-fee9c76ecc8e50ec4fd904d6c70d0d95b49314d5664f270afc1f6fccf43f93fc.jpg" alt="旅先での出会い">
        </div>
      </div>
    </div>
  </div>
</div> 
