



// <!-Footer-->
footer {
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 20px;
  color:white;

    .navbar-item {
      display: inline-block;
      float: left;
      font-size: 20px;
      
      color: white;
    }  
}

// <!-Top page-->
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('children.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-hero-container {
  padding-top: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  h1 {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 20px;
    color:white;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 55px;
    color:white;
  }

  .btn {
    font-size: 20px;
    border-radius: 50px;
  }

}

  // signup
 .signup-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('tokyo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .signup-container {
    padding-top: 120px;
    .text-white {
      color: white;
      font-size: 50px;
    }

    
    .form-group {
      margin-bottom: 20px;
      color: black;
    }

    .link_login {
      font-size: 20px;
      color: white;
      text-decoration:underline;

    }
  }
}

// <!- flash -->
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

// <!- Log in -->
.form-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
  background-image: image-url('laptop.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// <!- edit user -->
.show-wrapper{
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
  background-color:white;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .left-contents {
    width: 600px;
    margin-right: 20px;
    float: left;
  }

  .right-contents {
    width: 300px;
    float: left;
  }
}


// <!- index question-->
.question-list {
  width: 100vw;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top:150px;
  background-image: image-url('hand.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  h1 {
    font-size: 50px;
  }
  .align-items-center {
    padding-top: 40px;
  }
}

// <!- new question-->
.question-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
  background-image: image-url('black-board.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}








