// <!-Body-->
body {
  font-family:  Georgia, 'Times New Roman', Times, serif;


// <!-Header-->
  header {
    color: #337ab7 !important;
    background-color: black;
    height: 100px;
    
      #logo {
        float: left;
        margin-right: 10px;
        font-size: 2.5em;
        letter-spacing: -1px;
        font-weight: bold;
        line-height: 100px;
        &:hover {
          color: white;
          text-decoration: none;
        } 
      }
      
      ul {
        padding: 25px 0;
        font-size: 20px;
      }  
  }


// <!-Footer-->
  footer {
    background-color: black;
    padding-top: 20px;
    color:white;


      .navbar-item {
        display: inline-block;
        float: left;
        font-size: 20px;
        color: white;
      }  
  }

// <!-Top page-->
  .top-hero-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('children.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .top-hero-container {
    padding-top: 140px;
    color:white;
    h1 {
      font-size: 80px;
      font-weight: 400;
      margin-bottom: 20px;  
    }

    h2 {
      margin-bottom: 40px;
      font-size: 55px;
    }

    .btn {
      font-size: 20px;
      border-radius: 50px;
    }
  }
  

  // <!-Sign up-->
  .signup-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: image-url('tokyo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:black;
    padding-bottom: 30px;

    .signup-container {
      background-color: whitesmoke;
      margin-top: 150px;
      .text-white {
        font-size: 50px;
      }
      .form-group {
        margin-bottom: 10px;
        font-weight: 500;
      }
      .link_login {
        font-size: 20px;
        text-decoration:underline;
      }
    }
  }


// <!- flash -->
  .alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

// <!- Log in -->
  .login-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 180px;
    background-image: image-url('laptop.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .login-container {
      background-color: whitesmoke;
    }
      h1 { 
        padding-bottom: 30px;
      }
      .link_signup {
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
      }
  }

// <!- show&edit user -->
  .user-wrapper{
    width: 100vw;
    padding: 180px 0 50px 0;
    background-image: image-url('white-bord.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .profile-image {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
    }
    .card-title {
      font-weight: 700;
    }   
  }




// <!- index question-->
  .question-index-wrapper {
    .question-list {
      width: 100vw;
      height: 100vh;
      padding-top:150px;
      background-image: image-url('hand.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      h1 {
        font-size: 50px;
      }
      .btn {
        margin-top: 120px;
      }
    } 
      .question-image {
        padding: 20px 0 10px 0;
        width: 600px;
        height: 500px;
      }
      p {
        font-size: 20px;
        font-weight: 50;
      }
    }

// <!- page nation-->
  .paginate {
    text-align: center;
    margin:0 auto;
    font-size: 20px;
  }

// <!- Like -->
  .question-index-icon {
    width: 50px;
    height: 35px;
    margin-left: 20px;
  } 


// <!- new question-->
  .new-question-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
    background-image: image-url('black-board.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    h1 {
      color: white;
      font-weight: 700;
    }
    .new-question-container {
      padding: 0px 20px 20px 20px ;
      background-color: whitesmoke;
      opacity: 0.9;
      border-radius: 25px;
      margin-top: 70px;
    }
  }

  // <!- show question-->
  .show-question-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    background-image: image-url('black-board.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    .form-group {
    color: black;
    }
    .question-image {
    padding: 10px 0 20px 0;
    width: 600px;
        height: 500px;
      }
      p {
          font-size: 20px;
        font-weight: 50;
      }
  }

  // <!- new comments-->
  .new-comment-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 120px;
    background-image: image-url('thumb.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .comment-form {
     padding: 100px 20px ;
     background-color: whitesmoke;
     margin-top: 100px;
     opacity: 0.9;
     border-radius: 25px;
     .comment-card {
     }
    }
    

  }

  .iine__button{
    
    line-height: 42px;
    color: #6d3701;
    font-size: 14px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 150px;
    font-weight: bold;
 }


  

}












