<%= form_with url: password_resets_path, local: true, method: :post do |form|%>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, class: "form-control", required: true, placeholder: 'Please enter your registered email address' %>
    <%= form.submit "Reset my password!",class: "btn btn-block btn-primary" %>
  </div>
<% end %>
