<footer>
  <div class = "container text-center">
    <ul class = "nav">
      <li class ="navbar-item">
       <%= link_to "Home", root_path, class: "nav-link text-dark"%>
      </li>
      <li class ="navbar-item">
       <%= link_to "About", root_path, class: "nav-link text-light"%>
      </li>
      <li class ="navbar-item">
       <%= link_to "Help", root_path, class: "nav-link text-light"%>
      </li>
      <li class ="navbar-item">
       <%= link_to "Contact", root_path, class: "nav-link text-light"%>
      </li>
    </ul>

    <p class ="text-black">
    | Copyright &copy; Yuta Kawaoka, All Rights Reserved.|
    </p>
  </div>
</footer>

     
        